body {
    width: 50%;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}

#resume-body {
    text-align: center;
    margin: 15px
}

header {
    margin: 20px;
}

@media all and (min-width: 800px) {
    body {
        width: 70%;
    }

    #resume-body {
        text-align: left;
    }

    header {
        text-align: center;
    }

    #introduction {
        text-align: center;
    }
}